<?xml version="1.0" encoding="UTF-8"?>
<included>

	<!-- property definer -->
	<!-- not yet required in test -->
	<!--
	<define name="appLogDir" class="am.ajf.core.configuration.ConfigurationPropertyDefiner">
    	<propertyKey>log.dir</propertyKey>
  	</define>
  	-->
  	
	<!-- appenders -->
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>[%thread] %-5level %X{uuid} %X{userid} %logger{36} - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%thread] %-5level %X{uuid} %X{userid} %logger{36} - %m%n</pattern>
		</encoder>
	</appender>
		  	
</included>