<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="logger/includes/logback-ajf.xml"/>
	
	<root level="WARN">
		<appender-ref ref="APP_FILE" />
		<appender-ref ref="TROUBLESHOOTING_FILE" />
	</root>
	
	<logger name="audit" level="TRACE" additivity="false">
		<appender-ref ref="AUDIT_FILE" />
	</logger>
	
	<logger name="am.ajf" level="WARN" additivity="false">
		<appender-ref ref="AJF_FILE" />
	</logger>			
	
	<!-- 
	<logger name="youAppBasePackageName" level="INFO" additivity="false">
		<appender-ref ref="APP_FILE" />
		<appender-ref ref="TROUBLESHOOTING_FILE" />
	</logger>
	-->
		
</configuration>