<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="logger/includes/logback-ajf-test.xml"/>
	
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="audit" level="TRACE" additivity="false">
		<appender-ref ref="STDERR" />
	</logger>
	
	<logger name="am.ajf" level="INFO" additivity="false">
		<appender-ref ref="STDERR" />
	</logger>	
		
	<!-- 
	<logger name="youAppBasePackageName" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	-->
		
</configuration>